<div class="flashcard" data-aos="zoom-in-up">
    
    <a href=<%= `/character/${id}`%>>
        <div class="bg-texture" style="transform: scale(-1);"></div>    
        <div class="flashcard-image">
            <img loading="lazy" src=<%= img %> alt=<%= name %>>
        </div>
        <div class="flashcard-info">
            <p class="flashcard-title"><%= name %></p>
            <p class="flashcard-work"><%= job %></p>
        </div>
    </a>
    
</div>
